
.banner{
    width: 100%;
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.container{
    margin: 5rem  auto;
    max-width: 720px;
    padding-left: 1.25rem;

    
}

.introduce{

    h1{
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.62rem;

        color: var(--grey-100);
    }

    div{
        margin-top: 1.5rem;

        display: flex;        
        p {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1rem;
            color: var(--gray-500);
            display: grid;
            grid-template-columns: 20px 1fr;
            grid-gap: 0.5rem;
            justify-content: center;
            align-items: center;

            & + p {
                margin-left: 1.5rem;
            }
        }        
    }

    p {
        margin-top: 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        font-style: italic;
        line-height: 1rem;
        color: var(--gray-500);
    }
}

.blogContent{
    margin: 0 auto 3.75rem auto;

    h2{
       margin: 4rem 0 3.5rem 0;
       font-size: 2.25rem;
       font-weight: 700;

       color: var(--gray-300);
    }

    p{
        font-size: 1rem;
        line-height: 1.625rem;
        font-weight: 400;
        color: var(--gray-500);
        text-align: justify;
        margin-bottom: 1.5rem; 
    }
}

.loading{
    width: 100%;
    height: calc(100vh - 6.65rem);

    display: flex;
    justify-content: center;
    align-items: center;

    p{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.62rem;

    color: var(--gray-100);
    }
}

.blogFeatures{
    position: relative;
    width: 100%;
    padding-top: 3rem;

    aside a{
        margin-top: 5.5rem;
        width: 100%;
        height: 3.625rem;
        border-radius: 4px;
        background: var(--gray-100);

        color: var(--gray-900);
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.375rem;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: filter 0.2s;

        &:hover{
            filter: brightness(0.85);
        }
    }

    &::before{
        content:'';
        width: 100%;
        height: 1px;
        background-color: var(--gray-500);
        filter: brightness(0.4);

        position: absolute;
        top: 0;
        left: 0;
    }
}

.postNavigation{
    width: 100%;
    display: flex;
    justify-content: space-between;

    div p {
        font-size: 1.125rem;
    }

    div.prevPost{
        flex: 1;
    }

    div.nextPost{
        text-align: right;
        flex: 1;
    }

    a{
        background: transparent;
        border: none;
        display: block;
        margin-top: 0.5rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--pink-500);

        cursor: pointer;

        transition: filter 0.2s;

        &:hover{
            filter: brightness(0.8);
        }
    }
}

.comment-box{
    margin: 5rem auto;
}